-r requirements.txt
cov-core==1.14.0
coverage==3.7.1
execnet==1.2.0
factory-boy==2.4.1
flake8==2.2.5
flexmock==0.10.2
freezegun==0.3.8
isort==4.2.5
mccabe==0.6.0
moto==0.4.31
pep8==1.7.0
pies==2.6.7
py==1.4.31
pyflakes==1.5.0
pytest-cov==2.4.0
pytest-instafail==0.3.0
pytest-xdist==1.15
pytest==3.0.6
