alembic==0.8.10
Flask-Cors==3.0.2
Flask-Failsafe==0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-Mail==0.9.1
Flask==0.10.1
SQLAlchemy-Defaults==0.4.4
SQLAlchemy-Utils==0.32.12
SQLAlchemy==1.1.5
-e git+https://github.com/marshmallow-code/marshmallow.git@7f3c5f43561c3f1f29442aa391ca24f8d80e43d7#egg=marshmallow-dev
psycopg2==2.6.2
validators==0.7
Flask-Admin==1.4.2
Flask-Login==0.4.0
WTForms==2.1
Flask-WTF==0.11
passlib==1.6.2
