{% extends 'admin/master.html' %}
{% block body %}

<div class="container">
  <div class="row-fluid">
    <div class='span5'>
      <h4> Yhteensä:</h4>
      <p> {{ data.salespersons }} myyjää </p>
      <p> {{ data.total_size }}</p>  

    </div>

    <div class='span4'>
      <h4> Tuotteita noutamatta / varattu diileissä:</h4>
      <p> Paidat: {{ data.shirts_to_be_fetched }} /  {{ data.total_shirts}} </p>
      <p> Reput: {{ data.backpacks_to_be_fetched }} /  {{ data.total_backpacks}} </p>
    </div>

     <div class='span3'>
      <h4> Lehtiä noutamatta:</h4>
      <p> {{data.magazines_to_be_fetched}} </p>
    </div>
    
  </div>
  <div class="row-fluid">
    <div class="span5">
      <div>
        <h4> 10 Uusinta diiliä:</h4>
        {% for deal in data.new_deals %}
         <p>{{deal.created_at.strftime('%-d.%-m %H.%M')}}: 
          {{deal.salesperson.name}} ({{deal.deal_group.name}}) - {{deal.size}} </p>
        {% endfor %}
      </div>
    </div>
    <div class="span4">
      <div>
        <h4> Yhdistykset:</h4>
        {% for group in data.groups %}
        <div class="row-fluid">
          <div class="span5">{{group.name}} </div>
          <div class="span1" style="text-align:right">{{group.total_size}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="span3">
      <div>
        <h4> Tuotteita jäljellä:</h4>
        {% for product in data.products %}
        <p>{{product.name}} - {{product.left_in_stock}} / {{product.stock}}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}